* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

.banner {
   background-image: url("../img/tms.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 100vh;
}

.navigation a {
   position: relative;
   color: #ffffff;
   text-decoration: none;
   font-weight: 400;
   margin-left: 10px;
}

.logo {
   font-weight: 800;
   font-size: 35px;
}

.texto {
   text-align: justify;
   color: #fff;
   font-size: 14px;
   font-weight: 400;
}

.contenedor {
   width: 90%;
   margin: auto;
}